.gradle/
build/
app/build/
local.properties
keystore/riding.jks
release/
*.apk
*.log
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-xhdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
_res_bak/
app/src/main/res/drawable/avatar1_closed.jpg
app/src/main/res/drawable/avatar1_open.jpg
app/src/main/res/drawable/avatar2_closed.jpg
app/src/main/res/drawable/avatar2_open.jpg
app/src/main/res/drawable/avatar3_closed.jpg
app/src/main/res/drawable/avatar3_open.jpg
app/src/main/res/drawable/avatar1_blink.jpg
app/src/main/res/drawable/avatar1_react.jpg
app/src/main/res/drawable/avatar2_blink.jpg
app/src/main/res/drawable/avatar2_react.jpg
app/src/main/res/drawable/avatar3_blink.jpg
app/src/main/res/drawable/avatar3_react.jpg
.idea/
*.iml
.vscode/
Thumbs.db
.DS_Store
push_via_api.ps1
